body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.display {
    grid-column: 1 / span 4;
    background-color: #333;
    color: white;
    font-size: 2.5em;
    padding: 15px;
    text-align: right;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.button {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ccc;
}

.orange {
    background-color: #ff9500;
    color: white;
}

.black {
    background-color: #333;
    color: white;
}

.gray {
    background-color: #e0e0e0;
    color: #555;
}

.gray:hover {
    background-color: #ccc;
}

.button:active {
    transform: scale(0.95);
}
